@using MvcTicariOtomasyon.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:10px">
    <tr>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td> @d.DepartmanAd</td>
            <td><a href="/Departman/DepartmanSil/@d.DepartmanID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGetir/@d.DepartmanID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@d.DepartmanID" class="btn btn-group" style="background-color:lightcoral; color:white">Detay</a></td>
        </tr>
    }

</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary">Yeni Departman</a>


